# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven target directory
/target/

# Eclipse files
.project
.classpath
.settings/

# IntelliJ IDEA files
.idea/
*.iml
*.iws
out/

# NetBeans files
/nbproject/private/
/build/
/nbbuild/
/dist/
/.nb-gradle/

# VS Code files
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# JetBrains IDEs
*.ipr
*.iws
*.iml

# Maven Wrapper files
.mvn/wrapper/maven-wrapper.jar
